---
import { siteConfig } from "../config/site";
const phoneNumber = siteConfig.contact.phone.replace(/\s+/g, ''); // Replace with your WhatsApp number
const message = "Hi! I have a project in mind. Can we discuss it?"; // Default message
---

<a
  href={`https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`}
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-6 bg-green-500 right-6 p-3 hover:bg-green-600 rounded-full  transition-all z-50"
  aria-label="Chat on WhatsApp"
>
  <img src="/whatsapp.svg" alt="WhatsApp" class="w-10 h-10" />
</a>
